<a href="https://colab.research.google.com/github/lesijay/FinanceProject/blob/master/FinanceProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

In [0]:
BAC = data.DataReader("BAC", 'yahoo', '2006-01-01', '2016-01-01')
BAC.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  35.717861
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  35.338535
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  35.384048
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  35.330940
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  35.353695

In [0]:
C = data.DataReader("C", 'yahoo', '2006-01-01', '2016-01-01')
C.head()

                  High         Low  ...     Volume   Adj Close
Date                                ...
2006-01-03  493.799988  481.100006  ...  1537600.0  448.516144
2006-01-04  491.000000  483.500000  ...  1870900.0  440.235657
2006-01-05  487.799988  484.000000  ...  1143100.0  442.419647
2006-01-06  489.000000  482.000000  ...  1370200.0  442.419647
2006-01-09  487.399994  483.000000  ...  1680700.0  440.326721

[5 rows x 6 columns]

In [0]:
GS = data.DataReader("GS", 'yahoo', '2006-01-01', '2016-01-01')
GS.head()

                  High         Low  ...     Volume   Adj Close
Date                                ...
2006-01-03  129.440002  124.230003  ...  6188700.0  108.843384
2006-01-04  128.910004  126.379997  ...  4861600.0  107.339996
2006-01-05  127.320000  125.610001  ...  3717400.0  107.297760
2006-01-06  129.250000  127.290001  ...  4319600.0  108.818047
2006-01-09  130.619995  128.000000  ...  4723500.0  110.127205

[5 rows x 6 columns]

In [0]:
JPM = data.DataReader("JPM", 'yahoo', '2006-01-01', '2016-01-01')
JPM.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  40.360001  39.299999  39.830002  40.189999  12838600.0  27.994356
2006-01-04  40.139999  39.419998  39.779999  39.619999  13491500.0  27.832783
2006-01-05  39.810001  39.500000  39.610001  39.740002   8109400.0  27.917086
2006-01-06  40.240002  39.549999  39.919998  40.020000   7966900.0  28.113771
2006-01-09  40.720001  39.880001  39.880001  40.669998  16575200.0  28.570408

In [0]:
MS = data.DataReader("MS", 'yahoo', '2006-01-01', '2016-01-01')
MS.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2006-01-03  58.490002  56.740002  57.169998  58.310001  5377000.0  38.006454
2006-01-04  59.279999  58.349998  58.700001  58.349998  7977800.0  38.032536
2006-01-05  58.590000  58.020000  58.549999  58.509998  5778000.0  38.136818
2006-01-06  58.849998  58.049999  58.770000  58.570000  6889800.0  38.175922
2006-01-09  59.290001  58.619999  58.630001  59.189999  4144500.0  38.580029

In [0]:
WFC = data.DataReader("WFC", 'yahoo', '2006-01-01', '2016-01-01')
WFC.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  31.975000  31.195000  31.600000  31.900000  11016400.0  21.246769
2006-01-04  31.820000  31.365000  31.799999  31.530001  10870000.0  21.000326
2006-01-05  31.555000  31.309999  31.500000  31.495001  10158000.0  20.977020
2006-01-06  31.775000  31.385000  31.580000  31.680000   8403800.0  21.100231
2006-01-09  31.825001  31.555000  31.674999  31.674999   5619600.0  21.096903